# Copy this file to .env and fill in your values
PORT=3001
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
PB_URL=http://localhost:8090
PB_SUPERUSER_EMAIL=your-superuser@email.com
PB_SUPERUSER_PASSWORD=your-superuser-password
